button {
  display: inline-flex;
  align-items: center;
}

.pokemon-name {
  font-weight: bold;
  font-size: large;
}

button.move {
  background-color: lightblue;
  width: 8em;
  margin: 2px 0px 2px 0px;
}

button.move:disabled {
  background-color: initial;
  color: grey;
}

button.switcher {
  background-color: lightgray;
  width: 8em;
  margin: 2px 2px 2px 0px;
}

button.open {
  background-color: pink;
}

button.stable-pkmn {
  background-color: lightgray;
  width: 100%;
  box-sizing: border-box;
}

.stable {
  width: inherit;
}

img.pkmn-image {
  float: left;
  height: inherit;
}

button.reset {
  background-color: pink;
  width: 100%;
}

.trainer {
  height: 10em;
  position: relative;
  margin: auto;
}

.open-stable {
  width: inherit;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: grey;
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
}

.btn-img {
  height: 1.5em;
}
